---
import HeroIcon from "../components/HeroIcon.astro";
---

<div class="block z-10 sm:fixed sm:top-0 sm:right-0 sm:left-0 sm:bg-neutral-300/75 sm:dark:bg-black/75 sm:backdrop-blur-md">
  <nav class="flex flex-col justify-between px-2 mx-auto max-w-5xl sm:flex-row">
    <a class="text-xl font-bold text-black cursor-pointer sm:py-4 dark:text-white" href="/">Qrier</a>
    <div class="flex flex-col sm:flex-row sm:gap-12">
      <a class="py-2 px-4 sm:py-4 link" href="/pricing">Pricing</a>
      <a class="py-2 px-4 sm:py-4 link" href="/docs">Docs</a>
    </div>
    <a
      class="py-2 px-4 mt-2 ml-4 leading-8 text-white bg-black rounded-md cursor-pointer sm:my-2 sm:mr-4 sm:ml-0 dark:text-black dark:bg-white w-fit"
      href="/get_in_touch">Get in touch &rsaquo;</a
    >
  </nav>
</div>
